body{
    /*background-color: burlywood;*/
   /*Asiganando una familia de fuentes para nuestro texto*/
   font-family: 'Courier New', Courier, monospace;
   color: #289672;
   font-size: 1.2rem;
   line-height: 1.3em;

}

h1{
    font-size: 2rem;/*Cuando especificamos el valor relativo en la relacion a la raíz r-root*/
    line-height: 1.3em;/*Cuando especificamos el valor relativo de acuerdo al tamaño x default*/
}

p{
    margin-bottom: 1.6rem;
}

.container{
    width: 85%;/*Con este valor indicamos que se extienda hasta el 85% del navegador*/
    max-width: 850px;/*con un ancho máximo de 850 pixeles*/
    margin: 0 auto;/*Agregamos un margen de 0 arrva y abajo y automático a los lados*/

}

.header{
    background: #289672;
    color: white;
    padding: 2rem 0; /*Agregamos relleno en proporción de 2(Arriba y abajo) y 0 a los lados*/

    position: fixed;
    left:0;
    top: 0;
    right: 0;
}
    .header a{
        color: white;
        text-decoration: none;/*Quitamos el subrayado de marca de un enlace*/
    }

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;/*Centrando los elementos del contenedor*/
    flex-wrap: wrap;
}

.logo{
    letter-spacing: 15px;
    font-size: 1.4em;
}

,.navigation{
    width: 100%;
    margin-top: 1rem;
}


.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
    .navigation ul li{ /*Cada uno de los elementos tenga un despligue en lista*/
        display: inline-block;
    }

    .navigation ul li a{ /*Hacemos que los elementos se vean en bloque*/
        display: block;
        padding: 0.5 rem 1rem;
        transition: all 0.6s linear;
        border-radius: 5px;
    }

         .navigation ul li a:hover{
             background: #289672;
         }

.main{
    padding-top: 8rem;

}


.footer{
    color: white;
    background: #ccc;
    padding: 2rem 0;
    text-align: center;
    margin-top: 10rem ;
}
@media screen and (max-width:776px) {
    
   
        .navigation ul li{ /*Cada uno de los elementos tenga un despligue en lista*/
            display: block;
        }
    
        .navigation ul li a{ /*Hacemos que los elementos se vean en bloque*/
            display: block;
            padding: 0.5 rem 0;
            transition: all 0.6s linear;
            border-radius: 5px;
        }
    
             .navigation ul li a:hover{
                 background: #289672;
             }

}

.footer-container{
    display: inline-block;
    justify-content: space-between;
}
.redes-sociales .bubble i {
    color: #ccc;
    padding: 12px 0;
}
.redes-sociales .bubble:hover i {
    color: #1f2b40;
}